.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  @include m.respond-to(m.$bp-tablet) {
    gap: 1.5rem;
  }
  
  @include m.respond-to(m.$bp-sm) {
    gap: 1rem;
  }
}
