.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  
  @media (max-width: 768px) {
    gap: 1.5rem;
  }
  
  @media (max-width: 480px) {
    gap: 1rem;
  }
}
